<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.foodon.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Foodon">
        <activity
            android:name=".DeliveryFoodPanel_BottomNavigation"
            android:exported="false" />
        <activity
            android:name=".Delivery_VerifyPhone"
            android:exported="false" />
        <activity
            android:name=".sendotp"
            android:exported="false" />
        <activity
            android:name=".Chefsendotp"
            android:exported="false" />
        <activity
            android:name=".Delivery_FoodPanelBottomNavigation"
            android:exported="false" />
        <activity
            android:name=".Delivery_ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".CustomerFoodPanel_BottomNavigation"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".ChefForgotPassword"
            android:exported="false" />
        <activity
            android:name=".ChefFoodPanel_BottomNavigation"
            android:exported="false" />
        <activity
            android:name=".ChefVerifyPhone"
            android:exported="false" />
        <activity
            android:name=".ChefLogin"
            android:exported="false" />
        <activity
            android:name=".Delivery_Login"
            android:exported="false" />
        <activity
            android:name=".Delivery_LoginPhone"
            android:exported="false" />
        <activity
            android:name=".Delivery_registeration"
            android:exported="false" />
        <activity
            android:name=".Registration"
            android:exported="false" />
        <activity
            android:name=".ChefRegistration"
            android:exported="false" />
        <activity
            android:name=".Chefloginphone"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".ChooseOne"
            android:exported="false" />
        <activity
            android:name=".MainMenu"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>